<%- include('./includes/head.ejs')  %>
  <link rel="stylesheet" href="/css/view.css" />
</head>
<body>
  <%- include('./includes/navigation.ejs') %>
  <main>
    <% if (notes && notes.length > 0) { %>
    <h1>Available Notes</h1>
    <ul class="main-list">
      <% notes.forEach(note => { %> <% if (note.day === "Clean") { %>
      <li class="main-list-item">The day was: <%= note.day %></li>
      <% } else { %>
      <li class="main-list-item">
        The day was: <%= note.day %>, and the reason is: <%= note.cause %>
      </li>
      <% } %> <% }) %>
    </ul>
    <% } else { %>
    <h1>no Available notes</h1>
    <% } %>
  </main>
<%- include('./includes/end.ejs') %>